version: "3"

services:
  production:
    image: production-node
    hostname: production-node
    container_name: production-node
    labels:
      description: production-node
      org.opencontainers.image.name: production-node
      org.opencontainers.image.authors: Laxeder
      org.opencontainers.image.hostname: production-node
      com.docker.volume.name: production-node
      com.docker.network.bridge.name: production-node
    build:
      context: ./
      dockerfile: Dockerfile.prod
    env_file:
      - ./.env
    environment:
      NODE_ENV: production
    networks:
      - local-network
    restart: always
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - mysql-db

  environment:
    image: environment-node
    hostname: environment-node
    container_name: environment-node
    labels:
      description: environment-node
      org.opencontainers.image.name: environment-node
      org.opencontainers.image.authors: Laxeder
      org.opencontainers.image.hostname: environment-node
      com.docker.volume.name: environment-node
      com.docker.network.bridge.name: environment-node
    build:
      context: ./
      dockerfile: Dockerfile.dev
    cpus: 1
    working_dir: /usr/environment-node
    volumes:
      - .:/usr/environment-node
    env_file:
      - ./.env
    environment:
      NODE_ENV: development
    command: npm run dev:linux
    networks:
      - local-network
    restart: always
    ports:
      - ${DEV_PORT}:${DEV_PORT}
    depends_on:
      - mysql-db

  mysql-db:
    container_name: mysql-db
    image: mysql
    hostname: mysql-db
    labels:
      description: environment-mysql
      org.opencontainers.image.name: environment-mysql
      org.opencontainers.image.authors: Laxeder
      org.opencontainers.image.hostname: environment-mysql
      com.docker.volume.name: environment-mysql
      com.docker.network.bridge.name: environment-mysql
    working_dir: /var/lib/mysql
    volumes:
      - ./data:/var/lib/mysql
    env_file:
      - ./.env
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "development"
      MYSQL_USER: "development"
      MYSQL_ROOT_PASSWORD: "Alterar123"
      MYSQL_PASSWORD: "Alterar123"
    command: --default-authentication-plugin=mysql_native_password
    networks:
      local-network:
    restart: always
    ports:
      - 3306:3306 # host:container
volumes:
  local-volume:
networks:
  local-network:
    driver: bridge
